.btn {
    background-color: #48509B !important;
    border-color: black;
    border-width: 1px !important;
    padding: 2px;
    width: 100px;
    margin-top: 10px;
}

/* a {
    color: black !important;
}



i {
    color: black !important;
} */

