.home-image {
    background-image: url("../res/beranda.png");
    background-size: cover;
    /* filter: brightness(70%); */
  }
  
  .btn-beli {
    color: black !important;
    background-color: #C7D1EA !important;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-radius: 6px;
  }
  
  .btn-beli:hover{
      color: #ffffff !important;
      border-color: #000000;
      background-color: #3e5a99 !important;
  }


  .card {
    border: none;
  }