.navbar {
    z-index: 10;
  }
  
  .nav-item {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  
  .nav-link {
    color: rgb(171, 178, 182) !important;
  }
  
  .active {
    color: #000000 !important;
  }
  
  .nav-link:hover {
      color: #000000 !important;
  }
